
<body>
	<div id="wrapper">
	<header>
	<h1>{{title}}</h1>
	</header>
	<section>
		<nav><!-- menu med dropdown-->
			<ul>
				<li>
					<a target="_blank">Home</a><!--link-->
				</li>
				<li>
					<p>Info</p><!--Brødtekst-->
					<ul>
						<li>
							<a target="_blank">Home</a><!--link-->
						</li>
						<li>
							<a target="_blank">Home</a><!--link-->
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		
		<h1> Welcome To {{title}} </h1>
		<article>
		
			<div class="ArticleBox" id="Textbox">
				<h2>Intro</h2>
				<p>dette er en website.</p>
				<p>bygget i Angular</p>
				<p>egen css</p>
			</div>
			<div class="ArticleBox" id="BilledeBox">
				<img src="assets/avatar-1577909_640.png"/>
			</div>
		</article>
	</section>	
	<footer>

	</footer>
	</div>
	</body>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>