
<body>
	<div id="wrapper">
	<header>
	<h1>{{title}}</h1>
	</header>
	<section>
		<nav><!-- menu med dropdown-->
			<ul>
				<li>
					<a target="_blank">Home</a><!--link-->
				</li>
				<li>
                    <a target="_blank">Sidekammerat</a><!--link-->
				</li>
			</ul>
		</nav>
		
		<h1> Sidekammerat </h1>
		<article>
			<div class="ArticleBox" id="Textbox">
				<h2>Nikk/Nicki</h2>
				<p>Nikk/Nicki er en ret intelligent person, hans tankegang er meget abstract, hvilket giver ham en stor fordel, i mange situationer, især når det kommer til programmering.</p>
				<p></p>
				<p></p>
			</div>
			<div class="ArticleBox" id="BilledeBox">
				<img src="/my-app/src/assets/avatar-1577909_640.png"/>
			</div>
		</article>
	</section>	
	<footer>

	</footer>
	</div>
	</body>